<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"> <!--//navbar-fixed-top-->
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
                <li class="active"><a href="/shop">Trang chủ</a></li>
                <li class="dropdown">
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 65px">

                <li>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">
                        <span class="glyphicon glyphicon-user"></span>
                        Admin
                    </a>
                </li>
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li>  <a th:href="@{/cart}">
                    <span class="glyphicon glyphicon-shopping-cart">Cart</span>
                </a></li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                    <!--                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>-->
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>

                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" style="padding-top: 57px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img th:src="@{/img/banner_s36.jpg}" alt="" width="1920" height="540">
            </div>
            <div class="item">
                <img th:src="@{/img/pet-main-banner.jpg}" alt="">
            </div>
            <div class="item">
                <img th:src="@{/img/pet-main-banner.jpg}" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

<div class="container mt-5" style="padding-top: 57px; padding-bottom: 50px">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="300px" width="300px" src="" th:src="@{${'/petImg/' + pet.avatar}}"
                 alt="">
        </div>
        <div class="col-sm-7 mt-5">
            <h2 class="card-title" th:text="${pet.namePet}"></h2>
            <p th:text="${pet.categoryPet.name}"></p>
            <h2><span th:text="${pet.price}"></span> VND</h2>
            <h5>Weight:
                <spna th:text="${pet.weight}"></spna> grams.
            </h5>
            <p th:text="${pet.description}"></p>
            <a href="" th:href="@{/addToCart/{id}(id = ${pet.id})}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>

<script>
    let myNumber = document.getElementById("price").textContent;
    let decimalNumber = parseFloat(myNumber).toLocaleString('vi-VN').replace(/,/g, '.');
    document.getElementById("price").textContent = decimalNumber;
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

